*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;
}
html,
body{
width: 100%;
height: 100%;
}
header{
    padding: 25px 40px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
header{
    box-shadow: 0 4px 6px -1px rgb(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.middle h3:hover{
    color: rgb(98, 101, 104);
}
.auth-right button:hover{
    color: rgb(98, 101, 104);
}
.auth-right button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    font-size: 18px;
}
#log{
    background-color: black;
    color: white;
}

/* -----------------------------main section-------------------------- */

.hero-section{
    display: flex;

}
/* --------------------------main section text area------------------- */
.text-section{
    height: 460px;
    width: 55%;
     padding: 40px 70px;
     font-size: 27px;

}
.text-section p{
     font-size: 19px;
     margin-top: 10px;
     margin-bottom: 20px;
}
.bottom-buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;

}
.bottom-buttons button{
       padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    font-size: 18px; 
}
.bottom-buttons button:hover{
    background-color: #3A3546;
    color: whitesmoke;
}
.search-bar{
    width: 100%;
    height: 65px;
    margin-bottom: 15px;
   
}
.search-bar input{
    height: 100%;
    width: 90%;
    padding: 0 15px ;
    border-radius: 50px;
    border: none;
    background-color: #F3F3F6;
    font-size: 18px ;
    flex: 1;
}
.search-bar input{
    border: none;
    outline: none;
}
.search-bar button{
        width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: hotpink;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.popular-section{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.popular-section h6{
    padding: 10px 15px;
    font-size:15px ;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 20px;
    background-color: transparent;
    font-weight: 300;
}
.popular-section h5{
    font-size:19px;
}

/* -----------------------------video section------------------------- */
.video-section{
   
    height: 450;
    width: 50%;
    padding:20px 50px ;
    
}

.video{
    height: 100%;
     border-radius: 20px;
     overflow: hidden;
     background-color:#1E1E1E;
    

}
.video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.midtext{
    width: 95%;
    height: 100px;
    background-color: #F3F3F6;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display:flex ;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0px 40px;
}

.midtext button{
    padding: 15px 27px;
    border-radius: 20px;
    border: 1px solid transparent;
    background:     
        linear-gradient(to right, hotpink, rgb(147, 22, 147),#2ccd97) border-box;;
}